// Colors font-sizes etc
$colour-text: #3b4151;
$colour-brand: #59abfd;
$colour-brand-secondary: #e2a11c;
$colour-brand-third: #7231FF;

$colour-console-bg: #2b2f3e;
$colour-console-fg: #f0f1f4;

$colour-card-bg: #fff;