// Colors font-sizes etc
$body-bg: #fff;
$colour-text: #555;
$colour-brand: #59abfd;
$colour-brand-secondary: #f67a62;
$colour-brand-third: #b4f682;

$colour-nav-bg: #fff;
$colour-nav-fg: #2c4363;

$colour-console-bg: #e7ebf3;
$colour-console-fg: #999;
$colour-console-border: transparent;

$colour-console-input: #3c3c3c;
//Inner
$colour-console-bg-alt: darken($colour-console-bg,2);
$colour-console-string: #59abfd;
$colour-console-property: #f67a62;

$colour-card-bg: #fff;

$colour-select-bg: #999;
