.console {
  .tabs {
    button, button:active {
      outline: none;
      background: $colour-console-bg-alt;
      &:hover {
        background: $colour-console-bg-alt;

      }

      border: none;
      color: $colour-console-fg;
    }
  }
  background: $colour-console-bg;
  color: $colour-console-fg;
  font-family: "Courier New";
  h1,h2,h3 {
    color: $colour-console-fg;
    font-weight: 200;
    border-bottom: 1px solid $colour-console-border;
  }
  h4 {
    color: $colour-brand;
  }

  input {
    background: transparent;
    border: 2px solid $colour-brand;
    outline: none;
    color: $colour-console-fg;
    height: 44px;
    padding: 5px;
    width: 100%;
  }

  .cm-s-base16-dark.CodeMirror {
    .CodeMirror-code {
      background: $colour-console-bg-alt;
    }
    height: 210px;
    background: transparent;
    .CodeMirror-gutters {
      background: transparent;
    }
    span {
      color: $colour-console-fg;
    }
    span.cm-string {
      color: $colour-console-string;
    }
    span.cm-property {
      color: $colour-console-property;
    }
  }
}