@import "~compass-mixins";

// 3rd party
@import "3rdparty/bootstrap";
@import "project/fonts";

//PROJECT STYLES ---------------------------------

// Project Specific
@import "project/variables";

@import "project/layout";
@import "project/mixins";
@import "project/utils";
@import "project/print";
@import "project/form";
@import "project/buttons";
@import "project/card";
@import "project/console";
@import "project/tabs";
@import "project/nav";
@import "flexbox/index";


// other
@import "project/custom";


.right {
  position: fixed;
  right: 0;
  width: 650px;
  bottom: 0;
  top: 0;
  padding: 10px;
}

.left {
  padding: 10px;
  position: absolute;
  left: 0;
  right: 650px;
}

.fixed-bottom {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

.text-right {
  text-align: right;
}

.select-large {
  min-width: 200px;
  float:right;
  font-size: 24px;
}