@import "~compass-mixins";
// 3rd party
@import "3rdparty/bootstrap";
@import "project/fonts";
//PROJECT STYLES ---------------------------------
// Project Specific
@import "project/variables";
@import "project/pages/homepage";
@import "project/layout";
@import "project/mixins";
@import "project/utils";
@import "project/print";
@import "project/form";
@import "project/buttons";
@import "project/card";
@import "project/console";
@import "project/tabs";
@import "project/nav";
@import "flexbox/index";
// other
@import "project/custom";

.right {
  top: 44px;
  position: fixed;
  right: 0;
  width: 650px;
  bottom: 0;
  padding: 10px;
  margin-bottom: 44px;
  form {
    background: darken($colour-console-bg,5);
    position: fixed;
    bottom:0;
    width: 650px;
    right: 0;
    padding:10px;
  }
}

.left {
  top: 44px;
  padding: 10px;
  background: #fafafa;
  position: absolute;
  left: 0;
  right: 650px;
}

.fixed-bottom {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

.text-right {
  text-align: right;
}

.select-large {
  min-width: 200px;
  //font-size: 24px;
  position: absolute;
  right: 10px;
  background-color: white;
  border: none;
  height: 30px;
  top:6px;
}