@import "~compass-mixins";
// 3rd party
@import "3rdparty/bootstrap";
@import "project/fonts";
//PROJECT STYLES ---------------------------------
// Project Specific
@import "project/variables";
@import "project/pages/homepage";
@import "project/layout";
@import "project/mixins";
@import "project/utils";
@import "project/print";
@import "project/form";
@import "project/buttons";
@import "project/card";
@import "project/console";
@import "project/tabs";
@import "project/nav";
@import "flexbox/index";
// other
@import "project/custom";

.right {
  top: 44px;
  position: fixed;
  right: 0;
  width: 650px;
  bottom: 0;
  padding: 10px;
  margin-bottom: 44px;
  form {
    background: $colour-console-bg;
    position: fixed;
    bottom:0;
    width: 650px;
    right: 0;
    padding:10px;
  }
}

.left {
  top: 44px;
  padding: 10px;
  background: $body-bg;
  position: absolute;
  left: 0;
  right: 650px;
  input {
    border-radius: 4px;
    height: 34px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid $colour-brand-secondary;
    outline: none;
  }
}

.fixed-bottom {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

.text-right {
  text-align: right;
}

.select-large {
  min-width: 200px;
  background: $colour-console-bg;
  //font-size: 24px;
  position: absolute;
  right: 10px;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  top:6px;
}


.main-header {
border-bottom: 3px solid $colour-brand-secondary;
  position: fixed;
  background-color: $colour-nav-bg;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 44px;
  line-height: 44px;
  h1 {
    color:$colour-nav-fg;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    border-bottom: 0px;
    font-size: 20px;
    font-weight: 200;
  }
}

.lead {
  font-size: 1.5em;
  font-weight: 200;
  color: #999;
}
