.page-wrapper {
    //padding: 0 10px;
}

.main-header {
    background-color: #FBFBFB;
    h1 {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 10px;
        border-bottom: 0px;
    }
}

.intro {
    margin: 2em 0;
}